
 <script type="text/javascript">
  jsMath = {onload: function () {
     jsMath.ConvertTeX(document);
     jsMath.ProcessBeforeShowing(document);
     }};
  if (window.addEventListener) {window.addEventListener("load",jsMath.onload,false)}
  else if (window.attachEvent) {window.attachEvent("onload",jsMath.onload)}
  else {window.onload = jsMath.onload}
 </script>
 <script src="GET_JSMATH_ROOT_DIRECTORY/jsMath.js" type="text/javascript"></script>
 <script type="text/javascript">jsMath.Setup.Script("plugins/tex2math.js")</script>GET_JSMATH_MACROS