<!-- $Id: 1fa367d87fd8280900c0228ca455435a1d7db3d3 $ -->
<use file="/caudium.tmpl">
<page title="$title$" ecss="caudiumref.css" parent="/developer/pikeref/index.html" showwiki="yes">

<table>
  <tr>
    <td width='180' valign='top' bgcolor='#f0f0f0'>$navbar$</td>
    <td width='520' valign='top'>

    <table border="0" width="520" bgcolor="#e0e0e0"
           cellpadding="0" cellspacing="4" class='sidebar'>
      <tr>
        <td valign="middle">
	  <a href="$prev_url$"><img src="/img/prev.png" hspace="3"
	         border="0" alt="previous" >$prev_title$</a>
          <br>
	</td>
	<td align="right" valign="middle">
	  <a href="$next_url$">$next_title$<img src="/img/next.png" hspace="3"
	          border="0" alt="next" ></a>
	  <br>
	</td>
      </tr>
    </table>

    <h1>$type$ $title$</h1>
    $contents$

    </td>
  </tr>
</table>
</page>
