

.suggestions {
  background-color:#FFFFFF;
  z-index:2;
}

#popups 
{
  position:absolute;
  width:164px;
}

.autocompletertooltip
{
  width: 200px;
  background-color: #FFFFFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:9pt;
  padding: 2px 2px 2px 2px;
  color: #000000;
  border: 1px solid #000000;
}
