<html>
  <head>
    <title>The Yacas computer algebra system</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <link rel="stylesheet" href="yacas.css" TYPE="text/css" MEDIA="screen">
    <link rel="stylesheet" href="autocompleter.css" TYPE="text/css" MEDIA="screen">
    <script type="text/javascript" src="autocompleteraccess.js"></script>
    <script type="text/javascript" src="autocompleterarray.js"></script>
    <script type="text/javascript" src="datahub.js"></script>
    <script type="text/javascript" src="yacas.js"></script>
    <script type="text/javascript" src="cookie.js"></script>
    <script type="text/javascript">
      function gotoHREF(href) { document.location.href = href; }

      /* When deep link found, redirect to the tabbified main page */
      if (top.location == self.location)
      {
        self.location.replace("yacas.html");
      }

      setAllowDemos(false);

      var prevOnLoad = window.onload;
      window.onload = initPage;

      function initPage()
      {
        if (prevOnLoad)
          prevOnLoad();
        elem = document.getElementById("theexplainbutton");
        if (elem)
        {
          elem.onclick=goExplain;
        }
        elem = document.getElementById("therunbutton");
        if (elem)
        {
          elem.onclick=goRun;
        }
        elem = document.getElementById("thecleanbutton");
        if (elem)
        {
          elem.onclick=goClean;
        }
      }
      function keepCookie()
      {
        var elem = document.getElementById('codeText');
        if (elem)
        {
          setCookie("untitled.yart",""+elem.value);
        }
      }
      function goExplain()
      {
        keepCookie();
        keepArticle();
        gotoHREF('consoledescr.html');
      }
      function goRun()
      {
        keepCookie();
	commandView('ConsoleFrame','console');
      }
      function goClean()
      {
        if (confirm("Are you sure you want to start with a clean file and throw the text below away?"))
        {
          var elem = document.getElementById('codeText');
          if (elem)
          {
            elem.value = "You can start entering Yacas code below in the code section\n\n"+
              "{{code:\n\n:code}}\n\n"+
              "\n\n{{example:Example();:example}}";
          }
        }
      }

    </script>
  </head>
  <body>
        <table>
          <tr>
            <td valign="top">

      <input type=button id="therunbutton" value="Run code" title="Save and run this code in the calculation center (note that this is a local copy of the program below)." />
      <input type=button id="theexplainbutton" value="Preview article" title="Read article that comes with this code." />
      <input type=button id="thecleanbutton" value="New" title="Start with a clean slate." />

            </td>
            <td>
              Find function: <input type="text" id="funcLookup"/>
            <td>
          </tr>
          <tr>
            <td valign="top">
              <span class="codeEdit" id="console"></span>
            </td>
            <td valign="top">
              <div id="popups" style="border:1px solid #000000; height:600px; overflow:scroll;"></div>
            </td>
          </tr>
        </table>

    <APPLET name="datahub" archive="yacas.jar" code="net.sf.yacas.DatahubApplet" width=1 height=1></APPLET>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2425144-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </body>
</html>

