
.sliderContainer
{
  width: 320px;
  height: 12px;
  background-color: #FFFFFF;
  border: 1px solid #000000;
}

.sliderWidgetLeft
{
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #555599;
  border: 1px solid #000000;
}
.sliderWidgetLeft:hover
{
  background-color: #AAAAEE;
}

.sliderWidgetRight
{
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #555599;
  border: 1px solid #000000;
}

.sliderWidgetRight:hover
{
  background-color: #AAAAEE;
}


.sliderInbetween
{
  position: absolute;
  width: 4px;
  height: 12px;
  background-color: #FF0000;
  border: 1px solid #000000;
}



