/*   cb2Bib References CSS   */

/*   general   */

body {
font-size: 100%;
font-family: sans-serif;
background-color: #B7B096;
color: #000000;
padding: 0;
margin: 0;
}

a {
color: #670000;
text-decoration: none;
}

a:link {
color: #670000;
text-decoration: underline;
}

h1
{
color: #000000;
font-size: 20px;
font-variant: small-caps;
font-family: sans-serif;
}

/*   references  */

#references{
background-color: #AAA58C;
}

#references blockquote{
font-size: small;
}

#references span{
color: #800000;
/* font-weight: bold; */
}

#excerpt{
font-style: italic;
}

/*   header   */

#header {
vertical-align: middle;
}

/*   footer   */

#footer {
color: #000000;
font-family: arial, sans-serif;
font-size: small;
}

#footer td{
padding: 10px;
padding-left: 5px;
padding-right: 5px;
}
