/*   cb2Bib References CSS   */

/*   general   */

body {
font-size: 100%;
font-family: sans-serif;
background-color: #5C656D;
color: #ECECEC;
padding: 0;
margin: 0;
}

a {
color: #EDE159;
text-decoration: none;
}

a:link {
color: #EDE159;
text-decoration: underline;
}

h1
{
color: #ECECEC;
font-size: 20px;
font-variant: small-caps;
font-family: sans-serif;
}

/*   references   */

#references{
background-color: #23445b;
}

#references blockquote{
font-size: small;
}

#references span{
color: #FFFFFF;
font-weight: bold;
}

#excerpt{
font-style: italic;
}

/*   header   */

#header {
vertical-align: middle;
}

/*   footer   */

#footer {
color: #E4E3E2;
font-family: arial, sans-serif;
font-size: small;
}

#footer td{
padding: 10px;
padding-left: 5px;
padding-right: 5px;
}
